@import "vars"
/*==========  Desktop First  ==========*/
@media screen and (max-width: 1170px)
  //Header
  .header-top>.grid-container
    padding-top: 10px
    padding-bottom: 10px
  .header-top>.grid-container,.contact-us-content
    grid-template-columns: 100%
  .header-item.logo
    text-align: center
    margin: 0 auto
  .header-contact
    border: none
    text-align: center
    .btn-request
      display: none
  .header-social
    border: none
    justify-content: center
  .toggle-nav
    width: 40px
    height: 40px
    display: block
    background: transparent
    border: 2px solid $white
    border-radius: 3px
    position: absolute
    top: 1px
    left: 25px
    &.active
      .toggle-dec:nth-child(1)
        transform: rotate(-45deg)
        margin-top: -1px
      .toggle-dec:nth-child(3)
        transform: rotate(45deg)
        margin-top: -14px
      .toggle-dec:nth-child(2)
        visibility: hidden
  .toggle-dec
    display: block
    height: 3px
    width: 80%
    background: $white
    transition: all 500ms ease-in-out
    border-radius: 3px
    margin: 0 auto
    &:nth-child(2)
      margin: 4px auto
  .sub-menu
    padding-left: 3%
  .sub-menu li
    padding: 5px 0
  .header-menu-item, .sub-menu li
    width: 100%
    display: block
    position: relative
    margin-bottom: 5px
  .toggle-btn
    position: absolute
    right: 0
    top: 0
  .header-menu-item a, .sub-menu li a
    display: block
  .header-menu-item span, .sub-menu li span
    width: auto
    line-height: 24px
    text-align: center
  .sub-menu
    position: static
    width: 100%
    border: none
    background: inherit
  .sub-menu li .sub-menu
    position: static
  .header-bottom
    display: none
@media screen and (max-width: 1280px)
  /**/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1190px)
  .service-container
    grid-template-columns: 100%
  .service-youtube
    margin-bottom: 0
  .service-search-container,.service-nav,.service-contact
    display: none
@media only screen and (max-width: 1045px)
  /**/
/* Medium Devices, Desktops */
@media only screen and (max-width : 995px)
  /**/
/* Small Devices, Tablets */
@media only screen and (max-width : 880px)
  .container
    padding: 0 15px
  .social-list
    margin-bottom: 15px
  .services-container
    grid-template-columns: 100%
    .service-more
      top: 0
      width: 20px
      height: 20px
      line-height: 20px
      font-size: 16px
      right: 0
  .blog-container
    .service-more
      top: -30px
      right: 0
      z-index: 1
  .whoweare-img
    display: none
  .breadcrumbs
    padding-top: 45px
  .service-subtitle
    margin-top: 0  
  section[class]:not(.main-banner)
    padding-top: 25px
    padding-bottom: 25px
    margin: 0
  .slider-btn-right
    right: 0
  .slider-btn-left
    left: 0
    margin-left: 0
  textarea.contact-form-input:last-child
    margin-bottom: 0
  .video-slider-content, .video-slider-video
    padding: 10px 0
  .whoweare-title
    margin-bottom: 60px
  .about-me
    padding-top: 0
  .about-me-img
    display: none
  .about-me-container
    grid-template-columns: 100%
  .about-me-content
    padding: 40px 0
  //Info pages
  .list-page-list
    grid-template-columns: 100%
/* Extra Small Devices, Phones */
@media only screen and (max-width : 794px)
  .footer-item
    width: 100%
    &:not(:last-child)
      margin-bottom: 30px
  .logo
    margin: 0 auto
  .btn-banner
    max-width: 300px
    font-size: 18px
  .banner-slider-item
    padding: 40px 0
  .btn:not(.btn-table-popup)
    padding: 14px
  //Contact us
  .contact-form>.grid-container
    grid-template-columns: 100%
@media  only screen and (max-width: 680px)
  //Contact us
  .contact-us-content .youtube, .contact-us-content iframe
    height: 200px
  //Table
  table
    display: block
    overflow: scroll
    height: 600px !important
  tbody
    width: 600px
    display: table
    tr
      width: 100%
@media screen and (orientation: portrait) and (max-width: 680px)
  .mobile-table-message
    display: flex
@media screen and (orientation: landscape) and (max-device-width: 900px)
  .mobile-table-message
    display: none
/* Extra Small Devices, Phones */
@media (max-width: 483px)
  /**/
/* Custom, iPhone Retina */
@media only screen and (max-width : 375px)
  .h2-title, h2,.subtitle
    font-size: 22px
  .h1-title, h1
    font-size: 32px
/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
  /**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
  /**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
  /**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 995px)
  .banner-slider
    .slick-current.slick-active
      width: 87.9vw !important


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
  /**/
