@import "vars"
@import "fonts"
@import "libs"
@import "animations"
// Critical css
::placeholder
  color: #7c7c7c
input, textarea
  outline: none
  @include reset-button
  &:focus
    color: #7c7c7c
  &:focus,&:hover,&:active
    @include reset-button
::-webkit-scrollbar
  width: 5px
::-webkit-scrollbar-track
  background: $white
::-webkit-scrollbar-thumb
  background: #ffdd00
::-webkit-scrollbar-thumb:hover
  background: #555
*
  margin: 0
  padding: 0
ul:not([class]),ol:not([class])
  list-style-position: inside
  li
    margin-bottom: 15px
button
  @include reset-button
  cursor: pointer
body
  min-width: 320px
  max-width: 1980px
  width: 100%
  margin: 0 auto
  position: relative
  overflow-x: hidden
  color: $black
  background-color: $white
  font-family: 'Montserrat', sans-serif
  @include font(500,14px,24px)
  blockquote
    margin: 10px 0
    background-color: #f8f8f8
    padding: 10px 20px !important
    font-style: italic
    border-left: 3px solid #38a5dd
  a:hover
    color: #38a5dd
  table
    margin-top: 65px
    width: 100%
    height: auto
    border-collapse: collapse
    margin-bottom: 30px
    position: relative
    tr:first-child
      background-color: #38a5dd
      font-size: 16px
      color: $white
  tr
    td:last-child
      padding-right: 30px
    td:first-child
      padding-left: 30px
  td
    padding: 15px 0
    &:not(:first-child)
      text-align: center
  tr
    &:nth-child(odd)
      background-color: #f8f8f8
#main
  min-height: 800px
//Titles
h1,h2,h3,h4,h5,.h1-title,.h2-b-title,.h3-title,.h4-title,.h5-title,blockquote,p
  margin-bottom: 10px
.subtitle
  position: relative
  text-transform: uppercase
  &::before
    content: ''
    display: inline-block
    width: 30px
    height: 3px
    background-color: #38a5dd
    vertical-align: middle
    margin-right: 18px
h1,.h1-title
  @include font(700,42px,50px)
  color: $black
h2,.h2-title,.subtitle
  @include font(600,30px,28px)
  color: $black
h3,.h3-title
  @include font(600,24px,26px)
  color: $black
h4,.h4-title
  @include font(600,18px,24px)
  color: $black
h5,.h5-title
  @include font(600,14px,28px)
  color: $black
h6
  @include font(600,12px,10px)
  color: $black
b,strong
  font-weight: bold
img
  max-width: 100%
  height: auto
.hidden
  display: none !important
#header
  position: relative
  z-index: 2
#main,#footer,#header
  width: 100%
.mobile-block
  display: none !important
// containers
.grid-container
  display: grid
  justify-content: space-between
.flex-container
  display: flex
  flex-wrap: wrap
  justify-content: space-between
.container-fluid
  padding: 0 5px
  max-width: 1500px
  margin: 0 auto
.container
  max-width: 1140px
  padding: 0 30px
  margin: 0 auto
  position: relative
.visible-block
  display: flex !important
//Buttons
.btn
  border-radius: 4px
  border: 2px solid #ffdd00
  background-color: #ffdd00
  text-align: center
  padding: 16px
  max-width: 215px
  cursor: pointer
  font-weight: bold
.btn-request
  color: #222222
  font-size: 14px
  font-weight: 600
  text-decoration: none
  display: block
//Youtube
.youtube
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  .play
    cursor: pointer
    display: block
    width: 80px
    height: 80px
    background: url('../img/icons/youtube-btn.png') no-repeat center/cover
.youtube-container
  justify-content: center
  align-content: center
  height: 100%
//Settings for slider
.slick-initialized .slick-slide
  outline: none
//Bg
.grey-bg
  background-color: #f8f8f8
//Header
.header-top
  background-color: #38a5dd
  padding: 15px 0
  &>.grid-container
    grid-template-columns: 1fr 5fr 1fr
    grid-template-rows: 1fr
    grid-gap: 15px
.logo
  max-width: 121px
  width: 100%
.toggle-nav
  display: none
.header-contact
  align-items: center
  padding: 0 30px 0 10px
  border-right: 1px solid $white
  border-left: 1px solid $white
.header-title
  font-size: 18px
  font-weight: 600
  line-height: 24px
  text-transform: uppercase
  color: $white
  max-width: 500px
  margin: 0 auto
.social-list
  align-items: center
  justify-content: flex-start
  @include list-type-none
.social-list-item
  margin-right: 10px
  a
    padding: 2px
    border: 2px solid $white
    border-radius: 3px
    display: block
    width: 20px
    height: 20px
    color: $white
    text-align: center
    text-decoration: none
    line-height: 20px
    font-size: 16px
    &:hover
      color: $white
.header-bottom
  background-color: #f8f8f8
  padding: 5px 0
.header-menu
  justify-content: flex-start
  a
    font-size: 14px
    font-weight: 600
    text-decoration: none
    color: #222222
    padding: 10px 5px
.header-menu-item
  margin-right: 2%
  position: relative
.sub-menu li,.header-menu-item
  display: flex
  justify-content: space-between
  align-items: center
  a
    width: 97%
  span
    width: 5%
.sub-menu
  li
    a
      font-weight: 500
.sub-menu
  top: 44px
  position: absolute
  border-radius: 0 0 6px 6px
  background-color: #f8f8f8
  width: 250px
  display: none
  li
    padding: 5px 15px
    position: relative
    margin-right: 0
    .sub-menu
      right: -250px
      top: -2px
.toggle-btn
  color: #222222
  font-size: 13px
  cursor: pointer
  vertical-align: middle
  padding: 10px
  transition: all 500ms ease-in-out
  &.active
    transform: rotate(90deg)
//Banner
.main-banner
  padding: 87px 0 332px 0
  background-size: cover
  background-position: center
  background-repeat: no-repeat
.title-banner
  margin-bottom: 60px
  color: $white
  max-width: 934px
.btn-banner
  font-size: 30px
  max-width: 420px
  width: max-content
  padding: 24px
//Who we are
.whoweare
  padding-top: 1px
  padding-bottom: 120px
.whoweare-title
  margin-top: 62px
  margin-bottom: 81px
.whoweare-container
  position: relative
.whoweare-content
  max-width: 668px
  background-color: #e9e9e9
  padding: 45px
  position: relative
  z-index: 1
  p
    font-weight: 600
.btn-more
  font-size: 14px
  font-weight: 600
  color: $black
  text-decoration: none
  margin-top: 30px
  display: block
  max-width: 115px
.whoweare-img
  position: absolute
  top: -47px
  right: 0
  max-width: 682px
//Services
.services
  margin-top: 88px
.services-subtitle
  margin-bottom: 60px
.services-container
  grid-template-columns: repeat(2,1fr)
  grid-template-rows: 1fr
  grid-gap: 30px
.services-img
  max-height: 260px
  img
    display: block
    width: 100%
    object-fit: cover
    height: 100%
.services-content
  position: relative
  border-radius: 0 0 6px 6px
  background-color: #e9e9e9
  padding: 20px 30px
.service-more
  color: $black
  text-decoration: none
  position: absolute
  right: 30px
  top: -30px
  width: 70px
  height: 70px
  padding: 0
  font-size: 30px
  text-align: center
  line-height: 70px
.services-text
  font-size: 14px
  font-weight: 600
.services-title
  margin-bottom: 10px
  display: block
  text-decoration: none
  a
    text-decoration: none
    color: $black
//About me
.about-me
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  margin-top: 97px
  padding-top: 89px
.about-me-container
  grid-template-columns: repeat(2,1fr)
  grid-template-rows: 1fr
  grid-gap: 110px
.about-me-img
  text-align: right
  img
    max-width: 399px
    vertical-align: bottom
.about-me-content
  padding-top: 111px
  *
    color: $white
  p
    font-weight: 500
.quote
  font-size: 18px
  font-style: italic
  font-weight: 500
//Why choose
.why-choose
  padding: 61px 0 64px 0
.why-choose-title
  text-align: center
  margin-bottom: 44px
.why-choose-content
  max-width: 740px
  margin: 0 auto 63px auto
  font-weight: 600
  text-align: center
.why-choose-list
  justify-content: space-around
  @include list-type-none
.why-choose-item
  max-width: 250px
  text-align: center
.why-choose-img
  margin-bottom: 32px
  img
    max-width: 90px
//Our stories
.our-stories
  padding: 60px 0
.out-stories-subtitle
  margin-bottom: 60px
.video-slider
  position: relative
.video-slider-video,.video-slider-content
  padding: 0 20px
.video-slider-video
  margin-bottom: 13px
  height: 202px
  iframe,.youtube
    width: 100%
    height: 100%
.video-slider-title
  margin-bottom: 15px
.video-slider-text
  font-weight: 600
  font-size: 14px
.slider-btn
  position: absolute
  top: 25%
  z-index: 1
  opacity: 0.83
  color: $white
  width: 35px
  height: 35px
  border: none
  padding: 0
  text-align: center
  line-height: 35px
.slider-btn-right
  right: 1.7%
  background-color: #ffdd00
  border-radius: 6px 0 0 6px
.slider-btn-left
  background-color: $black
  left: 1.7%
  border-radius: 0 6px 6px 0
//Testimonials
.testimonials
  padding: 60px 0
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  *
    color: $white
.testimonials-subtitle
  margin-bottom: 60px
//How to find us
.how-find
  padding: 60px 0
.how-find-title
  margin-bottom: 60px
.how-find-contact-item
  margin-bottom: 10px
  i
    font-size: 14px
    margin-right: 10px
  a
    color: $black
    text-decoration: none
.how-find-contacts
  margin-bottom: 30px
  @include list-type-none
.how-find-map
  iframe
    width: 100%
    max-height: 400px
//Footer
#footer
  background-color: #6a7680
  padding-top: 61px
.footer-menu
  @include list-type-none
.footer-menu-item
  *
    color: $white
    text-decoration: none
  a
    font-weight: 500
    padding-left: 5px
.social-title
  font-size: 18px
  font-weight: 500
  color: $white
  margin-top: 24px
  margin-bottom: 14px
.footer-container
  padding-bottom: 36px
  border-bottom: 2px solid $white
.copyright
  color: $white
  font-size: 14px
  text-align: center
  padding: 15px 0
//Breadcrumbs
.breadcrumbs
  padding-top: 25px
  justify-content: flex-start
  @include list-type-none
  *
    color: $black
    font-weight: 500
    text-decoration: none
.breadcrumbs-item
  margin-right: 10px
  &:not(.current)::after
    content: '/'
    padding-left: 10px
//Contact us
.contact-us
  margin-bottom: 59px
.contact-us-content
  grid-template-columns: repeat(2,1fr)
  grid-template-rows: 1fr
  grid-gap: 32px
  padding-bottom: 45px
  border-bottom: 2px solid #e9e9e9
  iframe,.youtube
    width: 100%
    height: 303px
.contact-us-forms
  margin: 45px 0
  max-width: 810px
  padding: 30px
.contact-us-forms-text
  font-weight: 500
  margin-bottom: 28px
.contact-form>.grid-container
  grid-template-columns: repeat(2,1fr)
  grid-gap: 30px
  grid-template-rows: 1fr
.contact-form-label
  display: block
  margin-bottom: 15px
  font-weight: 500
.contact-form-input
  display: block
  width: 100%
  border-radius: 6px
  padding: 10px 5px
  border: 2px solid #d5d5d5
  margin-bottom: 30px
  &:hover,&:active,&:focus
    border: 2px solid #d5d5d5
.contact-form-textarea
  resize: none
  height: 125px
  &:hover
    border: 2px solid #d5d5d5
.btn-submit
  min-width: 125px
  font-weight: bold
  &:hover,&:focus,&:active
    border: 2px solid #fd0
.contact-us-details
  border-top: 2px solid #e9e9e9
  padding-top: 26px
.contact-us-details-title
  margin-bottom: 43px
//Service
.service,.contact-us
  margin-top: 40px
.service-subtitle
  margin-bottom: 55px
.service-container
  grid-gap: 30px
  grid-template-columns: 1fr 2.5fr
  grid-template-rows: 1fr
.service-youtube
  height: 215px
  margin-bottom: 75px
  .youtube,iframe
    height: 100%
    width: 100%
.search-inputs
  grid-template-columns: 5fr 1fr
  grid-template-rows: 1fr
  grid-gap: 10px
.search-btn
  background: transparent
.service-nav
  @include list-type-none
  a.active
    color: #38a5dd
.service-nav-item
  border-bottom: 2px solid #e2e2e2
  &:first-child
    border-top: 2px solid #e2e2e2
  *
    text-decoration: none
    color: $black
  a
    display: block
    width: 80%
  &>a
    font-size: 18px
.service-nav-item,.service-submenu-item
  position: relative
  a
    padding: 10px 0
  .toggle-btn
    position: absolute
    top: 5px
    right: 0
  &.active>a
    color: #38a5dd
.service-submenu
  padding-left: 8%
  display: none
  @include list-type-none
  ul
    padding-left: 7%
.service-submenu.active
  display: block
.service-contact-list
  @include list-type-none
.service-contact
  margin-top: 61px
  padding: 20px
  i
    margin-right: 10px
  a
    color: $black
.service-advantages
  margin: 42px 0 30px 0
  grid-template-columns: repeat(auto-fit,minmax(288px,320px))
  grid-template-rows: 1fr
  grid-gap: 30px
.service-advantages-item
  grid-template-columns: 40px 1fr
  grid-template-rows: 1fr
  grid-gap: 20px
.service-advantages-number
  color: $white
  text-align: center
  height: 40px
  line-height: 40px
  background-color: #38a5dd
  border-radius: 6px
.testimonials.is-service
  .subtitle
    color: $black
.service-comments
  padding: 45px 0
.service-content
  overflow: hidden
//Blog
.blog-container
  grid-template-columns: repeat(auto-fit,minmax(300px,320px))
  margin-bottom: 55px
  justify-content: start
  .service-more
    width: 50px
    height: 50px
    line-height: 50px
    font-size: 16px
    top: -30px
    right: 10px
    z-index: 1
  .services-item
    position: relative
//Not found
.not-found
  padding-bottom: 50px
  text-align: center
.not-found-title
  font-size: 8rem
  margin-bottom: 60px
.not-found-btn
  color: $black
  text-decoration: none
  display: block
  margin: 30px auto
.btn-load-more
  margin: 20px auto
  color: $black
  display: block
  font-weight: bold
.service-form
  padding-top: 40px
.service
  margin-bottom: 20px
//Popup
.popup
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 4
  display: none
  background-color: #00000073
  overflow-y: auto
.thx-text
  display: none
.thx-text-container
  display: flex
  font-size: 20px
  align-items: center
  height: 208px
.popup-wrapper
  width: 100%
  height: 100%
  justify-content: center
  align-items: center
.popup-container
  background: #FFFFFF
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2)
  border-radius: 3px
  padding: 30px
  position: relative
.popup-input
  display: block
  width: -webkit-fill-available
  padding: 20px 25px
  border: 1px solid #d6d4d4
  border-radius: 5px
  margin-bottom: 20px
  &:focus,&:hover
    border: 1px solid #d6d4d4
.btn-submit-popup
  width: 100%
  display: block
  max-width: 100%
  font-weight: bold
.popup-close
  position: absolute
  right: 15px
  top: 10px
  cursor: pointer
  font-size: 18px
.mobile-table-message
  display: none
  text-align: center
  margin-bottom: 30px
  font-weight: 700
  color: #333333
  position: absolute
  opacity: 0.9
  justify-content: center
  align-items: center
  position: absolute
  top: 0
  left: 0
  right: 0
  background: #f7ecec
  bottom: 0
  height: 100%
//Info pages
.info-page,.list-page
  margin: 40px 0 20px 0
.info-page-content,.list-page-content
  margin: 25px 0
.info-page-container
  margin-bottom: 30px
.list-page-list
  grid-template-columns: repeat(2,1fr)
  grid-template-rows: 1fr
  grid-gap: 20px
  align-items: center
.list-page-one-column
  grid-template-columns: 1fr
.list-page-item
  grid-template-rows: 1fr
  grid-template-columns: 40px 1fr
  grid-gap: 20px
.list-page-type
  text-align: center
  height: 40px
  line-height: 40px
  border-radius: 6px
  font-size: 18px
  background-color: #38a5dd
  color: $white
.btn-table-popup
  padding: 5px
  margin: 0 auto
@import 'media'